csusb_spring26_cse5140_team1/
notebooks/csusb_spring26_cse5140_team1/# Ignore dataset folder
data/*

# Keep folder structure
!data/.gitkeep

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

train.csv
